---

_You are currently looking at **version 1.4** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
All questions are weighted the same in this assignment. This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable]`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g. `'Bolivia (Plurinational State of)'` should be `'Bolivia'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [2]:
import pandas as pd
import numpy as np

# Load the Excel sheet and CSV file into Panda Dataframe. Skip header for GDP Dataframe.
xls_file = pd.ExcelFile('Energy Indicators.xls')
energy = xls_file.parse('Energy')
GDP = pd.read_csv('world_bank.csv', header=None)
ScimEn_file = pd.ExcelFile('scimagojr-3.xlsx')
ScimEn = ScimEn_file.parse('Sheet1')

# Drop first 2 columns
energy = energy.drop(['Unnamed: 0','Unnamed: 1'],1)

# Rename the columns
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

# Convert "..." to np.NaN
# This section is not very DRY["Don't Repeat Yourself"]. Need to think about ways to apply regex to column names, so that the same function applies to columns starting with "Energy Supply"
energy['Energy Supply'].replace(regex=True,inplace=True,to_replace=r'\W',value=np.nan)
energy['Energy Supply per Capita'].replace(regex=True,inplace=True,to_replace=r'\W',value=np.nan)

# Convert 'Energy Supply' Column from petajoule to gigajoules (there are 1,000,000 gigajoules in a petajoule)
energy['Energy Supply']*=1000000

# Set Country column to be the index
energy.set_index('Country')

# Use Regular Expression to remove numbers and parenthesis(and the content inside) in country names. \d stands for digits. 
# Remember to add a whitespace before the first escape before ()....couldn't find Bolivia otherwise. Struggled for a long time for this!
energy['Country'].replace(regex=True,inplace=True,to_replace=r'\d',value=r'')
energy['Country'].replace(regex=True,inplace=True,to_replace=r' \(.*\)',value=r'')

# Replace country names with new names
energy.Country[energy.Country == "Republic of Korea"]="South Korea"
energy.Country[energy.Country == "United States of America"]="United States"
energy.Country[energy.Country == "China, Hong Kong Special Administrative Region"]="Hong Kong"
energy.Country[energy.Country == "United Kingdom of Great Britain and Northern Ireland"]="United Kingdom"

# Test to ensure that the replacement worked. Have turned them into comments.
# energy.loc[energy.Country =="Bolivia"]
# energy.loc[energy.Country =="United Kingdom"]


# ----------------------------------------------

# Drop the first few rows of GDP Dataframe to clean the data
GDP.drop(GDP.index[:4],axis=0, inplace=True)

# Drop the other columns so that we only keep the last 10 years' data (2006-2015)
GDP.drop(GDP.columns[1:50], axis=1, inplace=True)

# Convert the Column heads from number to strings (2006.0 -> Year 2006)
# GDP[50:]=GDP[50:].astype(str)
# GDP.rename(columns = lambda x: str(x), inplace=True)
GDP.columns = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']
GDP.columns.values



# Use the first row as column headers
# Drop redundant row
GDP.columns = GDP.iloc[0]
GDP.drop(GDP.index[0],axis=0, inplace=True)
GDP.rename(columns={'Country Name': 'Country'}, inplace=True)
GDP.set_index('Country')

# Rename the countries. South Korea was actually named "Korea, Rep." in the original spreadsheet. They gave the wrong instruction here...
GDP['Country'].replace(regex=True,inplace=True,to_replace='Korea, Rep.',value='South Korea')
GDP['Country'].replace(regex=True,inplace=True,to_replace='Iran, Islamic Rep.',value='Iran')
GDP['Country'].replace(regex=True,inplace=True,to_replace='Hong Kong SAR, China',value='Hong Kong')

# Remove the parenthesis
GDP['Country'].replace(regex=True,inplace=True,to_replace=r' \(.*\)',value=r'')


# Test to ensure that the replacement worked. Have turned it into comment.
# GDP.loc[GDP["Country Name"] =="South Korea"]

# ----------------------------------------------

# Keep only the top 15 countries by Ranking in the ScimEn Dataframe
ScimEn.drop(ScimEn.index[15:],axis=0, inplace=True)

# Merge the 3 dataframes: energy, GDP, ScimEn
new = pd.merge(pd.merge(ScimEn,energy,on='Country'),GDP,on='Country')

# Set the Country column to be the index. Remember to use inplace=True. Otherwise it kept returning a list of integers...spend an hour on this.  
new.set_index('Country',inplace=True)

# Count the number of rows and columns in the dataframe. This is a test, have commented it. 
# new.shape[0] #gives number of row count
# new.shape[1] #gives number of col count

# Hardcoding this because I couln't figure out how to convert Numbers to Strings in the header. Tried astype() and to_string, both didn't work....
new.columns = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']

def answer_one():
     return new

answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838000000,286,11.571,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920000000,124,10.6005,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195000000,26,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,10597000000,166,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,11007000000,221,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6530000000,109,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4923000000,106,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9172000000,119,5.70772,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5386000000,231,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149000000,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [58]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [ ]:
def answer_two():
    return "ANSWER"

<br>

Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country?

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [84]:
# Need to create a new dataframe for each question, otherwise the autograder would think that I'm creating new columns for the DF created in question 1, and will stop working...
question3=new.copy()

# The 2015 GDP data for Iran is NAN, so I had to use np.mean() instead of hard code it as df.sum()/10.... Probably better this way.
question3["avgGDP"]=question3[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].mean(axis=1)

# Sort by descending order
question3.sort('avgGDP', ascending=False,inplace=True)

# Create a new data series named "avgGDP"
avgGDP_series= question3.ix[:,'avgGDP']

def answer_three():
    Top15 = answer_one()
    return avgGDP_series
answer_three()

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avgGDP, dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [148]:
question4 = question3.copy()
question4.drop(question4.columns[0:10],axis=1, inplace=True)

diff=question4.iloc[5][9]-question4.iloc[5][0]

def answer_four():
    Top15 = answer_one()
    return diff

answer_four()

246702696075.3999

### Question 5 (6.6%)
What is the mean energy supply per capita?

*This function should return a single number.*

In [157]:
question5 = new.copy()

# Use item() to convert a numpy.float object to normal Python object (float)
def answer_five():
    return question5['Energy Supply per Capita'].mean().item()
answer_five()

157.6

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [170]:
question6= new.copy()

# Sort by '% Renewable'
question6.sort('% Renewable',ascending=False,inplace=True)

# Return as a tuple
def answer_six():
    return (question6.iloc[0].name,question6.iloc[0]['% Renewable'])
answer_six()

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

('Brazil', 69.64803)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [212]:
question7=new.copy()

question7['Citation Ratio']=question7['Self-citations']/question7['Citations']

name_of_country = question7[question7['Citation Ratio']==question7['Citation Ratio'].max()].index.values.item()
value = question7['Citation Ratio'].max()
def answer_seven():
    return (name_of_country,value)
answer_seven()

('China', 0.68931261793894216)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [3]:
question8 = new.copy()
# Create a new row for 'Population'
question8['Population']=question8['Energy Supply']/question8['Energy Supply per Capita']

# Sort the dataframe by 'Population'
question8.sort('Population',ascending=False,inplace=True)

# Find the 3rd most populous country, and return the index (country name) with index.values. Item() converts it into a Python string
third_populous_country = question8[question8['Population']==question8['Population'][2]].index.values.item()
def answer_eight():
    return third_populous_country

answer_eight()

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

'United States'

### Question 9
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [47]:
# Can't figure this out. Ditched it. 
# I want chips.
# Going out now to buy chips...

# question9=question8.copy()

# question9['Citable document per Capita']=question9['Citable documents']/question9['Population']
# sub = question9[['Citable document per Capita','Energy Supply per Capita']]

# # def answer_nine():
# #     return "ANSWER"

In [214]:
# def plot9():
#     import matplotlib as plt
#     %matplotlib inline
    
#     Top15 = answer_one()
#     Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
#     Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
#     Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [ ]:
#

In [ ]:
#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [74]:
question10=new.copy()

median = question10['% Renewable'].median()

question10['HighRenew'] = np.where(question10['% Renewable'] >= median,1,0)
question10['HighRenew'] = question10['HighRenew'].replace(np.nan,0)
question10.sort('Rank',ascending=True, inplace=True)
HighRenew= question10.ix[:,'HighRenew']

def answer_ten():
    return HighRenew

answer_ten()

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [163]:
question11 = question8.copy()
question11.drop(question11.columns[:-1],axis=1,inplace=True)

ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
question11.reset_index(inplace=1)
question11['Continent']=question11['Country'].map(ContinentDict)


question11['Population'] = question11['Population'].convert_objects(convert_numeric=True)

PopSize=question11.groupby('Continent').agg({'Continent':np.count_nonzero})
PopSum=question11.groupby('Continent').agg({'Population':np.sum})
PopMean=question11.groupby('Continent').agg({'Population':np.average})
PopStd=question11.groupby('Continent').agg({'Population':np.std})

PopTotal = pd.concat([PopSize,PopSum,PopMean,PopStd],axis=1)
PopTotal.columns = ['size', 'sum', 'mean', 'std']


def answer_eleven():
    return PopTotal
answer_eleven()

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:23: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a Series with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer_twelve():
    Top15 = answer_one()
    return "ANSWER"

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [95]:
question13=question8.copy()

# Keep only the 'Population' Column
question13.drop(question13.columns[:-1],axis=1,inplace=True)

# Use format() to add the thousands separator
question13['PopEst'] = question13['Population'].apply(lambda x : '{:,}'.format(x))

# Create a data series for the output
question13_series= question13.ix[:,'PopEst']

def answer_thirteen():
    return question13_series

answer_thirteen()

Country
China                 1,367,645,161.2903225
India                 1,276,730,769.2307692
United States          317,615,384.61538464
Brazil                 205,915,254.23728815
Russian Federation            143,500,000.0
Japan                  127,409,395.97315437
Germany                 80,369,696.96969697
Iran                    77,075,630.25210084
United Kingdom         63,870,967.741935484
France                  63,837,349.39759036
Italy                  59,908,256.880733944
South Korea            49,805,429.864253394
Spain                    46,443,396.2264151
Canada                  35,239,864.86486486
Australia              23,316,017.316017315
Name: PopEst, dtype: object

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!